<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма Mymodel</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Удалить Mymodel</h1>
        <p> Вы уверены, что хотите удалить "{{ mymodel_name }}"</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Удалить</button>
            <a href="{% url 'students:mymodel_list' %}">Отмена</a>
        </form>
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>